<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>

    <style type="text/css">
        .main-container { display: flex; justify-content: center; align-items: center; flex-direction: column; }
        body { font-family: "Helvetica Neue", "Arial", sans-serif; letter-spacing: 0.03em; }
    </style>

    </head>
    <body>
        <div class="main-container">
            <form action='purchase' method='POST'>
                <input type='url' name='github_profile' id='github_profile' placeholder='Github profile link'/>
                <input type='submit' name='submit' value='Buy a follower'/>
            </form>
        </div>
    </body>
</html>