<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>

    <style type="text/css">
        .main-container { display: flex; justify-content: center; align-items: center; flex-direction: column; }
    </style>

    </head>
    <body>
        <div class="main-container">
            <header>
                <p>Logged in as {{username}}</p>
            </header>
            <form action='comment' method='POST'>
                <input type='comment' name='comment' id='comment' placeholder='comment'/>
                <input type='hidden' name='user' id='user' placeholder='user' value='{{username}}'/>
                <input type='submit' name='submit'/>
            </form>

            <table class="leaderboard">
                 <thead>
                    <tr>
                    <th>Name</th>
                    <th>Social Credit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user, sc in users | dictsort(by="value", reverse=true) %}
                        <tr>
                            <td>{{user}}</td>
                            <td>{{sc}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            <table>
        </div>
    </body>
</html>